.header {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);

    text-align: center;
    font-size: 2rem; // Ajusta según el tamaño deseado
    padding: 10px;
    background-color: red;
  }
  